.messages__message
  .messages__message__info
    %p.messages__message__info__name 
      = message.user.name
    %p.messages__message__info__date 
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .messages__messege-text
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
